@import url(component/styleheader.css);
@import url(component/tendance.css);
@import url(component/bouton.css);
@import url(component/statuts.css);
@import url(component/connexionstyle.css);
@import url(component/inscriptionstyle.css);
@import url(component/modal.css);


@font-face {
    font-family: 'Larissa' ;
    src: url(font/Larissa.otf);
}


@font-face {
    font-family: 'Monserrat-regular';
    src: url(font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Monserrat-light';
    src: url(font/Montserrat-Light.ttf);
}

@font-face {
    font-family:'Monserrat-thin' ;
    src: url(font/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'Monserrat-Black';
    src: url(font/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Monserrat-Bold';
    src: url(font/Montserrat-SemiBold.ttf);
}


h3{
    font-family: 'Larissa';
    font-size: 100px;
}


h2{
    font-size: 35px;
}

.container{
    margin-top: 15px;
    font-family: 'Monserrat-light';
}

#bee-honi{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
}

#utilisateur{
    height: 35px;
    width: 35px;
    margin-left: 10px;
}

#timeline{
    margin: 10px
}

img{
    aspect-ratio: 1/1;
}

.show {
    display: block;
  }

.col-8 {
    overflow: hidden; 
}

#effacable{
    margin-top: 2px;
}

@keyframes Opacity {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .opacity {
    animation-name: Opacity;
  }


  @keyframes shakeX {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .shakeX {
    animation-name: shakeX;
  }

@media screen and (max-width : 800px) {
        * {
            margin: 0px;
            padding: 0px;
        }

        .col{
            visibility: hidden;
        }

}