/* Bouton Nouveau post flottant */
#newpost{ 
    display: flex;
    border: solid 2px #27787c;
    background-color: #00AFB9;
    height: 50px;
    width: 50px;
    border-radius: 50px; 
    font-size: 30px;
    margin-left: 5px;
    color: #ffffff;
    right: 80px;
    bottom: 40px;
    position: fixed;
}

.plus{
    font-size: 30px;
    margin-left: 7px;
    bottom: 45px;
    position: fixed;
}

/* Bouton pour fermer le modal */
#close{
    border: none;
    position: relative;    
    left: 300px;
    top: 2px;
    border-radius: 25%;
}

#close:hover{
  background-color: #555555;
  
}

/* Bouton S'inscrire */
.inscription{
    border-radius: 40px;
    border: 1px solid #E47397;
    background-color: #F0C7D2;
    color: #E47397;
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-family: 'Monserrat-regular';
}

/* Bouton Se connecter */
.submit{
    border-radius: 40px;
    border: 1px solid #E47397;
    background-color: #F0C7D2;
    color: #E47397;
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-family: 'Monserrat-regular';
    margin-top: 20px;
}

/* Bouton qui efface */
#trash{
    width: 20px;
    height: 20px;
    align-items: center;
} 

#delete{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ffff;
    position: sticky;
    margin-left: 445px;
    margin-top: 10px;
} 

/* bouton du popup */
.inscr{
    border: solid 1px #ce8590;
    background-color: #f0bbc2;
    border-radius: 35%;
    width: 100px;
    height: 50px;
    margin-left: 85px;
}

/* bouton tendance */
.btn{
   width: 250px;
   margin-top: 10px;
   margin-left: 10px;
  }

.btn:hover, .btn:focus{
    color: #ff298d;
    background-color:  #fad1e4;
    border-color: #ff7dba;
    box-shadow: 0 0 0 3px #f087b8;
}

.btn.active{
    color: #ff298d;
    background-color:  #fad1e4
}
@media screen and (max-width : 800px) {
    .plus{
        padding-left: 5px;
    }

    #delete{ 
        background-color: #00AFB9;
    }

    .btn{
        flex: 0 0 50%;
        max-width: fit-content;
    }
}